{% extends "base2.html" %}

{% block recipe_content %}
{% for recipe in unique_recipe_list %}
<!-- <li> -->
    <!-- <h2>{{ recipe.recipe_name }}</h2> -->
    <div class="container-fluid" style="height: 20%;">
    <div clas= "container"> 
      <!-- <div class="row">  -->
        <div class="col-md-6">
          <!-- Content for the first container -->
          <div class="container-box">
      <div class="like">
        <a href="/Appetizerup/{{recipe.id }}" class="black up"><i class="fa fa-thumbs-up fa-3x like" data-recipe-id="{{ recipe.id }}"></i></a>
      <!-- </div> -->
      <div class="dislike">
        <a href="/Appetizerdown/{{ recipe.id }}" class="black down"><i class="fa fa-thumbs-down fa-3x like" data-recipe-id="{{ recipe.id }}"></i></a>
      <!-- </div>  -->
      <!-- <div class="row"> -->
        <!-- <div class="col-4">
        <div class="card-body"> -->
          <p class="card-text">
            {{ recipe.recipe_description }}
           </p>
          <p class="card-text">
           
           </p>
          <p class="card-text">
            {{ recipe.recipe_name }}
           </p>

           <img class="img-fluid" src="{{ recipe.recipe_image }}" alt="">
        </div>
      </div>
      </div>
      </div>
    </div>
    <!-- </li> -->
      <!-- <h2>{{ recipe.recipe_name }}</h2> -->
    <!-- <img src="{{ recipe.recipe_image }}" alt="{{ recipe.recipe_name }}" width="200"> -->
    <!-- <p>{{ recipe.recipe_description }}</p> -->
    <!-- <h3>Ingredients</h3>
    {% for ingredient in recipe.ingredients %}
    <ul>
    <li>{{ ingredient }}</li>
    </ul>
    {% endfor %}
</li> -->
{% endfor %}
{% endblock %}






