<!-- snack.html -->
{% extends "base2.html" %}

{% block recipe_content %}
{% for msg in get_flashed_messages() %}
<div class="alert alert-info">{{msg}}</div>
{% endfor %}
<div class="container-fluid" style="height: 20%;">
    <div clas= "container">  
    <div class="row"> 
{% for recipe in unique_recipe_list %}
      <div class="col-4">
      <div class="card-body">
        <div class="like">
            <a href="/Appetizerup/{{recipe.id }}/{{g.user.id}}" class="black up"><i class="fa fa-thumbs-up fa-3x like" data-recipe-id="{{ recipe.id }}"></i></a>
          </div>
          <div class="dislike">
            <a href="/Appetizerdown/{{ recipe.id }}/{{g.user.id}}" class="black down"><i class="fa fa-thumbs-down fa-3x like" data-recipe-id="{{ recipe.id }}"></i></a>
          </div> 
        <h1 class="fs-2">{{ recipe.recipe_name }}</h1>
        <p class="card-text">{{ recipe.recipe_description }}</p>
         <img class="img-fluid" src="{{ recipe.recipe_image }}" alt="">
         {% for ingredient in recipe.ingredients %}
         <ul>
            <p>Ingredients</p>
         <li>{{ ingredient }}</li>
         </ul>
         {% endfor %}
      </div>
    </div>
{% endfor %}
</div>
</div>
{% endblock %}
