<!DOCTYPE html>
<html>
<head>
    <title>baked Recipes</title>
    <!-- <link
    rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css"
  />
  <link rel="stylesheet" href="./style.css" /> -->
</head>
<body>
    <h1>Baked Recipes</h1>
    <div id="gradient"></div>
    <div class="image-container"></div>
    <!-- partial:index.partial.html -->

    <div class="search-container">
      <input
        type="text"
        name="fruit"
        id="fruit"
        placeholder="...Search recipe"
      />
      <div class="suggestions">
        <ul></ul>
      </div>
    </div>
    <ul>
        {% for recipe in unique_recipe_list %}
        <li>
            <h2>{{ recipe.recipe_name }}</h2>
            <img src="{{ recipe.recipe_image }}" alt="{{ recipe.recipe_name }}" width="200">
            <p>{{ recipe.recipe_description }}</p>
            <h3>Ingredients</h3>
            {% for ingredient in recipe.ingredients %}
            <ul>
            <li>{{ ingredient }}</li>
            </ul>
            {% endfor %}
        </li>
        {% endfor %}
    </ul>
</body>
</html>