<!DOCTYPE html>
<html>
<head>
    <title>User Recipes</title>
</head>
<body>
    <h1>user Recipes</h1>

    <ul>
        {%if user_recipe %}
        {% for recipe in user_recipe %}

            <li>
                <h2>{{ recipe.name }}</h2>
                <img src="{{ recipe.image }}" alt="{{ recipe.name }}" width="200">
                <p>{{ recipe.description }}</p>
                <h3>Ingredients</h3>
                <ul>
                <li>{{ recipe.ingredients }}</li>
                </ul>

        
        {% endfor %}
        {% else %}
        <li><em>No recipes created yet.</em></li>
        {% endif %}
    </ul>
</body>
    </ul>
</body>
</html>